
.container{
    margin-bottom: 70px;
}
.top-header{
    background-color: #f0fff0;
    height: 100%; 
    width: 100%;
    margin-bottom: 70px;
}


.navbar img{
    height: 50px;
    width: 150px;
}

.bg-light{
    background-color: #f0fff0 !important;
}

.btn-success{
    border: none;
    border-radius: 20px;
    padding: 5px 15px px 15px;
    background-color: #21b573;
}

.top-banner{
    height: 100%;
    width: 100%;
}
.bannar-bg{
    background-color: #f0fff0;
    background-size: cover;
    background-position: center;
}

.green-text{
    color: green;
   
}

h1{
    font-weight: bolder;
}
.catalog{
    background-color: white;
    text-align:center;
    padding:25px;
    
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;

}
.catalog:hover{
    background-color: #f0fff0;
}

.catalog img{
   width: 65px;
   height: 80px;
}

.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;

}

.card-footer{
    background-color: white;
    border-top: none;
}

.card-img-top{
    padding:20px;
}

.testo{
    width: 80%;
    height: auto;
}
.testo-text{
    padding: 50px;
}
.text-center{
    margin-top: 30px;
}

.footer{
    background-color:rgb(26, 25, 25);
    height: auto;
    width: 100%;
    color: rgb(204, 200, 200);
    font-weight: lighter;
    padding: 40px;
}

.container-footer{
    width: 100%;
    overflow-x: hidden;
}

